<div class="panel panel-primary">
    <div class="panel-heading">単語検索</div>
    <div class="panel-body">
        <%= search_form_for @q do |f| %>
					<div class="form-horizontal">
							<div class=" col-xs-10">
							  <%= f.search_field :japanese_or_thai_or_english_cont, :class => 'form-control input-md', :placeholder => '日本語、タイ語または英語' %>
							</div>
							<div class=" col-xs-1">
							    <%= button_tag :type => "submit", :class =>"btn btn-primary btn-md" do %>
							    <span class="glyphicon glyphicon-search"></span>
							    <% end %>
							</div>
  					  </div>
        <% end %>
        </div>
</div>
<div class="panel panel-primary">
    <div class="panel-heading"><%= @title %></div>
    <div class="panel-body">
        <div class="table-responsive">
            <% if @words.any? %>
            <table class="table table-striped" style="word-wrap:break-word">
                <tbody>
                    <% @words.each_with_index do |word,count| %>
                    <tr data-toggle="collapse" data-target=<%= "#accordion" + count.to_s %> class="clickable">
                        <td class="col-xs-5"><div class="thai"><div class="thai-word"><%= word.thai %></div><div><%= word.part_of_speech %></div></div></td>
                        <td class="col-xs-4"><div class="content-area"><div class="japanese-word"><%= word.japanese %></div><div class="english-word"><%= word.english %></div></div></td>
                        <td class="col-xs-3"><div class="content-area"><%= render 'words/tag_list', tag_list: word.tag_list %></div></td>
                    </tr>
                    <tr>
                        <td colspan="3" style="padding:0px">
                            <div class="col-xs-1"></div>
                            <div id=<%= "accordion" + count.to_s %> class="collapse remark text-muted col-xs-10">
                                <% if word.remarks.nil? then %>
                                なし 
                                <% else %>
                                <%= word.remarks %>
                                <% end %>
                            </div>
                        </td>
                    </tr>
                    
                    <% end %>
                </tbody>
                
            </table>
            <% else %>
                <div>見つかりませんでした。</div>
            <% end %>
        </div>
    </div>
</div>
<%= paginate @words %>
<%= render 'layouts/footer' %>
