
<div class="panel panel-info">
    <div class="panel-heading"><%= @title %></div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped ">
            <tr>
                <td>［日本語］</td><td>［品詞］</td><td>［タイ語］</td><td>［口語/文語］</td><td>［タグ］</td><td>［備考］</td> 
            </tr>
            <% @words.each do |word| %>
            <tr>
                <td><%= word.japanese %></td>
                <td><%= word.part_of_speech %></td>
                <td><%= word.thai %></td>
                <td><%= word.verbal_system %></td>
                <td><%= word.tag_list %></td>
                <td><%= word.remarks %></td>
            </tr>
            <% end %>
            </table>
        </div>
    </div>
</div>

<%= paginate @words %>