<div class="panel panel-primary">
    <div class="panel-heading">リクエストフォーム</div>
    <div class="panel-body">
      <%= form_for @contact, :url => contact_confirm_path do |f| %>
      <% if @contact.errors.any? %>
      <div class="text-danger">
        <strong>入力内容にエラーがあります</strong>
        <ul>
          <% @contact.errors.each do |attr, msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <form>
        <div class="form-group">
          <label class="control-label">名前</label>
          <div><%= f.text_field :name, :class => 'form-control input-md', :placeholder => 'お名前' %></div>
        </div>
        <div class="form-group">
          <label class="control-label">メールアドレス</label>
					<div><%= f.email_field :email, :class => 'form-control input-md', :placeholder => 'メールアドレス' %></div>
				</div>
				<div class="form-group">
				  <label class="control-label">リクエスト内容</label>
				  <div><%= f.text_area :message, :class => 'form-control input-md', :placeholder => 'リクエスト' %></div>
				</div>
				<div class="form-group">
				  <%= recaptcha_tags %>
				</div>
				<div class="form-group">
				    <%= f.submit '確認' %>
				</div>
		</form>
		<% end %>
	</div>
</div>
