<!DOCTYPE html>
<html>
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4163049602668592",
    enable_page_level_ads: true
    });
    </script>
    <%= analytics_init if Rails.env.production? %>
    <% set_meta_tags :site => 'ぷれータイ',
               :description => 'Thai Dictionary タイ語 辞書.',
               :keywords => 'タイ語, 辞書, 英語, Thai, Dictionary',
               :open_graph => {
                   :title => :title,
                   :type  => :dictionary,
                   :url   => 'http://www.pleethai.site',
                   :locale => 'ja_JP'
               },
               :reverse => true %>
<%= display_meta_tags %>
  <title>ぷれータイ</title>
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <meta name="google-site-verification" content="H4u_NOYPZkPgO55dy_CWonN6X0WgVWBd15P_KMBvGTo" />
  <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-123456789",
      enable_page_level_ads: tru
      
  });
  </script>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container-fluid" background-color="0xffffff">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <%= yield %>
        </div>
        <div class="col-md-3 col-xs-12">
            <div>
                <a href="https://px.a8.net/svt/ejp?a8mat=2TN341+E0VLRM+32Y6+639IP" target="_blank" rel="nofollow">
                    <img border="0" width="300" height="250" alt="" src="https://www29.a8.net/svt/bgt?aid=170718337848&wid=001&eno=01&mid=s00000014379001023000&mc=1"></a>
                    <img border="0" width="1" height="1" src="https://www16.a8.net/0.gif?a8mat=2TN341+E0VLRM+32Y6+639IP" alt="">
            </div>
            <br>
            <%= render 'layouts/footer' %>
            <div>
            <a href="https://px.a8.net/svt/ejp?a8mat=2TN2C9+31JS36+3TXU+61JSH" target="_blank" rel="nofollow">
                <img border="0" width="300" height="250" alt="" src="https://www27.a8.net/svt/bgt?aid=170717337184&wid=001&eno=01&mid=s00000017877001015000&mc=1" class="img-responsive center-block"></a>
                <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2TN2C9+31JS36+3TXU+61JSH" alt="">
            </div>
            <div><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3355861&pid=884774482" target="_blank" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3355861&pid=884774482" border="0"></a></div>
        </div>
        
    </div>
</div>
</body>
</html>

