<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container-fluid" background-color="0xffffff">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <%= yield %>
        </div>
        <div class="col-md-3 col-xs-12">
            <amp-img src="photo.jpg" layout="fixed-height" height="300"></amp-img>
            
            <div class="cm_image">
                <%= image_tag 'noimage.jpg' %>
            </div>
        </div>
        
    </div>
</div>
<%= render 'layouts/footer' %>
</body>
</html>
