<!DOCTYPE html>
<html>
<head>
  <title>ぷれータイ</title>
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container-fluid" background-color="0xffffff">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <%= yield %>
        </div>
        <div class="col-md-3 col-xs-12">
            <amp-img src="photo.jpg" layout="fixed-height" height="300"></amp-img>
            <a href="https://coincheck.com/?c=9tKXQs0giL4" target="_blank"><img src="https://coincheck.com/images/affiliates/01_cc_banner_201702_480x220.png" alt="日本で一番簡単にビットコインが買える取引所 coincheck bitcoin" class="img-responsive center-block"></a>
        </div>
        
    </div>
</div>
</body>
</html>
