<!DOCTYPE html>
<html>
<head>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
    google_ad_client: "ca-pub-4163049602668592",
    enable_page_level_ads: true
    });
    </script>
  <title>ぷれータイ</title>
  <meta name="viewport" content="width=device-width" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
<%= render 'layouts/header' %>
<div class="container-fluid" background-color="0xffffff">
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <%= yield %>
        </div>
        <div class="col-md-3 col-xs-12">
            
            <div>
                <a href="https://coincheck.com/?c=9tKXQs0giL4" target="_blank"><img src="https://coincheck.com/images/affiliates/01_cc_banner_201702_480x220.png" alt="日本で一番簡単にビットコインが買える取引所 coincheck bitcoin" class="img-responsive center-block"></a>
            </div>
            <br>
            <div>
                <script charset="utf-8" type="text/javascript" src="http://ws-fe.amazon-adsystem.com/widgets/q?rt=tf_mfw&ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Ffamilycompute-22%2F8001%2Ff84f5f91-e9af-4f74-9b86-a6310c844339"></script>
                <noscript><a rel="nofollow" HREF="http://ws-fe.amazon-adsystem.com/widgets/q?rt=tf_mfw&ServiceVersion=20070822&MarketPlace=JP&ID=V20070822%2FJP%2Ffamilycompute-22%2F8001%2Ff84f5f91-e9af-4f74-9b86-a6310c844339&Operation=NoScript">Amazon.co.jp ウィジェット</a></noscript>
            </div>
            <br>
            <div>
            <a href="https://px.a8.net/svt/ejp?a8mat=2TN2C9+31JS36+3TXU+61JSH" target="_blank" rel="nofollow">
<img border="0" width="300" height="250" alt="" src="https://www27.a8.net/svt/bgt?aid=170717337184&wid=001&eno=01&mid=s00000017877001015000&mc=1" class="img-responsive center-block"></a>
<img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2TN2C9+31JS36+3TXU+61JSH" alt="">
            </div>
            <div><a href="//ck.jp.ap.valuecommerce.com/servlet/referral?sid=3355861&pid=884774482" target="_blank" rel="nofollow"><img src="//ad.jp.ap.valuecommerce.com/servlet/gifbanner?sid=3355861&pid=884774482" border="0"></a></div>
        </div>
        
    </div>
</div>
</body>
</html>
